<header class="section header">
  <div class="container">

  </div>
</header>
<nav class="section navigation">
  <div class="container">
      <ul class="nav">
        <li class="nav-item"><a routerLink="/">Home</a> </li>
        <li class="nav-item"><a routerLink="/login">Login</a></li>
      </ul>
  </div>
</nav>
<section class="section main">
  <div class="container">
     <router-outlet></router-outlet>
  </div>
</section>
<footer class="section footer">
  <div class="container">

  </div>
</footer>
